<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="destination" value="logs"/>

    <appender name="fileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${destination}/app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${destination}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>30MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="ru.otus.spring.kushchenko.hw2"
            level="info"
            additivity="false">
        <appender-ref ref="fileAppender"/>
    </logger>

    <root level="error">
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>